altgraph==0.17.4
auto-py-to-exe==2.42.0
bottle==0.12.25
bottle-websocket==0.2.9
cffi==1.16.0
click==8.1.7
cmake==3.28.3
colorama==0.4.6
dlib==19.19.0
Eel==0.16.0
face-recognition==1.3.0
face_recognition_models==0.3.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
importlib-metadata==7.0.1
numpy==1.24.4
opencv-python==4.8.1.78
packaging==23.2
pefile==2023.2.7
pillow==10.2.0
pycparser==2.21
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
pyparsing==3.1.1
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqt5-tools==5.15.9.3.3
python-dotenv==1.0.1
pywin32-ctypes==0.2.2
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
whichcraft==0.6.1
zipp==3.17.0
zope.event==5.0
zope.interface==6.2
